

.admin-container {
  text-align: center;
  margin-top: 30px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #ffffff;
  width: 1100px;
  border-radius: 8px;
  height: 52px;
  margin-left: 250px;
  margin-bottom: 20px;
  background-color: #031930;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
  gap: 20px; /* Space between cards */
  margin-top: 30px;
}

.card-first {
  background-color: #c4c4c4;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  height: 170px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: 385px;
}
.card-second {
  background-color: #c4c4c4;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  
}
.card-third {
  background-color: #c4c4c4;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: 385px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  background-color: #e0e0e0;
}

.icon-container {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 150px;
  display: inline-block;
  width: 34px;
  height: 28px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.circle {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: inline-block;
  padding: 20px;
  font-size: 1.1rem;
  margin-bottom: 1px;
  margin-right: 20px;
  width: 10px;
  height: 1px;  
  line-height: 1; 
  text-align: center; /* Center horizontally */
  vertical-align: middle; /* Center vertically */
}



// .circle {
//   background-color: #007bff;
//   color: white;
//   border-radius: 50%;
//   display: inline-block;
//   padding: 20px;
//   font-size: 1.1rem;
//   margin-bottom: 1px;
//   margin-right: 20px;
//   width: 15px;   /* Set width and height equal to maintain circle shape */
//   height: 10px;  /* Set width and height equal to maintain circle shape */
//   line-height: 40px; /* Align text vertically within the circle */
//   text-align: center; /* Center text horizontally */
//   vertical-align: middle; /* Center vertically */
// }

.card-text {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  margin-left: 180px;
  text-decoration: none;

}

.loading {
  font-size: 1.2rem;
  color: #007bff;
}





.status-info {
  margin-top: 10px;
  font-size: 9px;
  color: #333;
  margin-right: 120px;
}

.status-info p {
  margin: 5px 0;
}


.s-d{
  color:rgb(2, 136, 2);
  font-size: 15px;
}

.s-p{
  color:red;
  font-size: 15px;
}