
.table-container {
  width: 82vw;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 230px;
}

.table-header {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.table-data {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-link {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: rgb(103, 103, 249);
}

.yes-status {
  background-color: green;
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
  text-align: center;
  min-width: 34px;
  display: inline-block;
}

.no-status {
  background-color: red;
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
  text-align: center;
  min-width: 34px;
  display: inline-block;
}

.navbar-search {
  position: relative;
}

.navbar-search input {
  padding: 10px 12px;
  font-size: 14px;
  width: 100%;
  background-color: #f4f4f4;
  color: #333;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.search-message {
  text-align: center;
  margin-top: 10px;
}

.search-message.no-results {
  color: gray;
}

.search-message.found-results {
  color: green;
}


h3 {
  border: 1px solid black;
  border-radius: 9px;
  background-color: rgb(221, 221, 221);
  width: 100%;             
  height: 50px;            
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: center;    
}

.ub{
  display: flex;
  justify-content: center;
  align-items: center;      
  padding-top: 2px;       
  width: 82vw;          
  margin-left: 230px;       
}

.table-row-even-b {
  background-color: #f2f2f2;
}

.table-row-odd-b {
  background-color: #ffffff;
}

.found-message-b {
  text-align: center;
  color: green;
  margin-top: 10px;
  margin-left: 195px;
}
.no-results-message-b {
  text-align: center;
  color: gray;
  margin-top: 10px;
  margin-left: 195px;
}
