@import "./variables.scss";
@import "./breakpoints.scss";
// .navbar {
//   padding: 10px 60px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: #0b151f;
//   position: fixed;   // Fixes the navbar to the top
//   top: 0;            // Places it at the top of the page
//   width: 100%;       // Ensures it spans the full width of the screen
//   z-index: 1000;     // Ensures it stays on top of other content
  
//   @include sm {
//     padding: 10px 20px;
//   }

//   img {
//     width: 100px;
//     cursor: pointer;
//   }

//   &_right {
//     display: flex;
//     align-items: center;
//     gap: 20px;

//     .host {
//       text-decoration: none;
//       color: $blue;
//       font-weight: 700;
//       cursor: pointer;

//       &:hover {
//         color: $pinkred;
//       }

//       @include sm {
//         display: none;
//       }
//     }

//     &_account {
//       height: 50px;
//       display: flex;
//       align-items: center;
//       padding: 0 10px;
//       border: 1px solid $grey;
//       border-radius: 30px;
//       background-color: white;
//       cursor: pointer;

//       &:hover {
//         @include shadow;
//       }
//     }

//     &_accountmenu {
//       position: absolute;
//       background-color: white;
//       right: 60px;
//       top: 80px;
//       display: flex;
//       flex-direction: column;
//       width: 200px;
//       padding: 10px 0;
//       border: 1px solid $lightgrey;
//       border-radius: 20px;
//       @include shadow;
//       z-index: 9999;

//       @include sm {
//         right: 20px;
//       }

//       a {
//         width: 100%;
//         padding: 8px 15px;
//         text-decoration: none;
//         color: $blue;
//         font-weight: 700;

//         &:hover {
//           color: $pinkred;
//           background-color: rgba(217, 213, 213, 0.2);
//         }
//       }
//     }
//   }
// }








.navbar {
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #0b151f;
  position: relative;
  

  @include sm {
    padding: 10px 20px;
  }

  img {
    width: 100px;
    cursor: pointer;
  }


  &_right {
    display: flex;
    align-items: center;
    gap: 20px;

    .host {
      text-decoration: none;
      color: $blue;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        color: $pinkred;
      }

      @include sm {
        display: none;
      }
    }

    &_account {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      border: 1px solid $grey;
      border-radius: 30px;
      display: flex;
      gap: 10px;
      background-color: white;
      cursor: pointer;

      &:hover {
        @include shadow;
      }

      img {
        width: 40px;
        height: 40px;
      }
    }

    &_accountmenu {
      position: absolute;
      background-color: white;
      right: 60px;
      top: 80px;
      display: flex;
      flex-direction: column;
      width: 200px;
      padding: 10px 0;
      border: 1px solid $lightgrey;
      border-radius: 20px;
      @include shadow;
      z-index: 9999;

      @include sm {
        right: 20px;
      }

      a {
        width: 100%;
        padding: 8px 15px;
        text-decoration: none;
        color: $blue;
        font-weight: 700;

        &:hover {
          color: $pinkred;
          background-color: rgba(217, 213, 213, 0.2);
        }
      }
    }
  }
}



.navbar_alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7a7a7a; /* Green background */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.navbar_alert p {
  margin: 0;
}

.navbar_alert.fade-out {
  opacity: 0;
}
