.neevss-r{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 270px;
    margin-right: 280px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(255, 251, 251);
    
}
.neevs-r{
    font-size: 11px;
}

h3{
  border: 1px solid black;
  border-radius: 9px;
  background-color: rgb(221, 221, 221);
  width: 100%;             
  height: 50px;             
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: center;      
}

.fii-r {
  display: flex;
  justify-content: center; 
  align-items: center;      
  padding-top: 2px;       
  width: 81vw;        
  margin-left: 230px;      

}

.ctr-r{
    display: flex;
    justify-content: center;
    align-items: center;
}

.withdraw-container-r {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
  }
  
  .withdraw-table-r {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(164, 173, 181);
  }
  
  .withdraw-table th-r, .withdraw-table td-r {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }

  .btn-mi-r{
    cursor: pointer;
  }

  .table-style-k-r {
    width: 81vw;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 230px;
  }
  .th-style-k-r{
    background-color: black;
    color: white;
    padding: 4px;
    text-align: left;
    border-bottom: 2px solid #ddd;
  }
  .td-style-k-r {
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    word-wrap: break-word;
    white-space: nowrap;
  }

  
  .no-results-cell-k-r {
    padding: 10px;
    text-align: center;
  }

